.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 30px;
  color: rgba(6, 101, 2, 0.576);
  background-color: rgb(239, 239, 239);
}
.Weather h1 {
  color: black;
  font-size: 32px;
  font-weight: bold;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  list-style: none;
}

.Weather canvas {
  margin-top: 10px;
  margin-right: 10px;
}
.Weather .form-control {
  border-radius: 20px;
}
.Weather .btn {
  background-color: rgba(12, 95, 2, 0.99);
  border-radius: 20px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}
.Weather img {
  height: 70px;
  margin-right: 5px;
  display: inline-block;
  width: 70px;
}

.Weather .unit {
  color: rgba(6, 101, 2, 0.576);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.Weather .unit a {
  color: rgb(135, 149, 52);
}

.Weather .loader {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}
